<!-- <app-create-project></app-create-project> -->
 <!-- <app-create-employee></app-create-employee> -->
  <!-- <app-create-task></app-create-task> -->
   <!-- <app-backlog></app-backlog> -->
    <div class="row m-0" style="position: relative;" >
        <div class=" sidebar-parent col-3" style=" width: max-content; padding: 0;">
            <app-side-panel class="side-bar" > </app-side-panel>
        </div>
        
        <div class="col-9 router" >
            <router-outlet ></router-outlet>
        </div>
        
    

</div>